<div id="<%= dom_id comment %>">
  <% if comment.user.present? %>
    <p>
      <strong>user:</strong>
      <%= comment.user.email %>
    </p>
  <% end %>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
</div>
