<div id="<%= dom_id comment %>">
  <% if comment.user.present? %>
    <p>
      <strong>User:</strong>
      <%= comment.user.email %>
    </p>
  <% end %>
  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

  <!--<p>
    <strong>Post:</strong>
    <%= comment.post_id %>
  </p>-->

</div>
