<div id="<%= dom_id tag %>">
  <p>
    <strong>Name:</strong>
    <%= tag.name %>
  </p>
  <% @posts.each do |post| %>
    <h2>Post:</h2>
    <div>
      <span>Title : </span>
      <%= post.title %>
    </div>
    <div>
      <span>Conteent : </span>
      <%= post.content %>
    </div>
  <% end %>
</div>
