<div id="<%= dom_id tag %>">
  <p>
    <strong>Name:</strong>
    <%= tag.name %>
  </p>
  <% tag.taggables.each do |taggable| %>
    <h2>Post:</h2>
    <div>
      <span>Title : </span>
      <%= taggable.post.title %>
    </div>
    <div>
      <span>Conteent : </span>
      <%= taggable.post.content %>
    </div>
  <% end %>
</div>
